* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular-webfont.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: url('./font/neuton-v23-latin-regular.woff2') format('woff2');
}

:root {
    font-family: 'Roboto', sans-serif;
    --color-one: #FFFAEC;
    --color-two: #F5ECD5;
    --color-three: #578E7E;
    --color-four: #3D3D3D;
}

body {
    background-color: var(--color-two);
}

h1, h2, h3, h4, h5 {
    font-family: 'Neuton', Times, serif;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0.3em;
    margin-bottom: 0.4em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

#about {
    background: linear-gradient(-30deg, var(--color-two) 50%, var(--color-three) 50%);
}

.project-card {
    background-color: var(--color-one);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card div {
    margin-left: 35px;
    margin-right: 20px;
}

.project-card p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}



@media (width <= 600px) {
    #about {
        background: none;
    }

    .project-card {
        margin-bottom: 60px;
    }

    #about-photo {
        background: linear-gradient(-30deg, var(--color-two) 50%, var(--color-three) 50%);
    }

    .about-links {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .about-links a img {
        height: 1.5rem;
        width: auto;
    }

    #work {
        margin-top: 80px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 80px;
    }

    #about-body {
        margin-left: 30px;
        margin-right: 30px;
    }

    #about-photo {
        position: relative;
    }

    #about-photo img {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 20px;
    }

    #about-photo h1 {
        position: absolute;
        bottom: 0px;
        left: 40px;
        margin: 0px 0px 5px 0px;
        padding-right: 30px;
    }

    #contact .content {
        padding: 30px;
    }

    .content div {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contact-links {
        display: flex;
        height: 45px;
        gap: 20px;
        justify-content: center;
    }

    .contact-links a img {
        height: 100%;
        width: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

}

.project-header h3 {
    margin-right: auto;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: right;
}

.project-header a img {
    height: 1.3rem;
    width: auto;
}

#contact {
    background-color: var(--color-three);
}