@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular-webfont.woff") format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: url('./font/neuton-v23-latin-regular.woff2') format('woff2');
}

:root {
    font-family: 'Roboto', sans-serif;
    --color-one: #FFFAEC;
    --color-two: #F5ECD5;
    --color-three: #578E7E;
    --color-four: #3D3D3D;
}

body {
    background-color: var(--color-one);
}

h1, h2, h3, h4, h5 {
    font-family: 'Neuton', Times, serif;
}

@media (width <= 600px) {
    .about-links a img {
        height: 30px;
        width: auto;
    }

    .project-header a img {
        height: 100%;
        width: auto;
    }
}

img {
    width: 200px;
    height: auto;
}

.project-header {
    display: flex;
}